{
  "extends": "airbnb/legacy",
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 2, { "SwitchCase": 0 }],
    "no-param-reassign": [2, { "props": false }],
    "semi":"off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "should|expect"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  }
}
